* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

.rond{
    border: 1px solid black;
    border-radius: 9999999rem;
}

.carre{
    border: 1px solid black;
}

.losange{
    border: 1px solid black;
    transform: rotate(45deg);
}

.rond, .carre, .losange{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.plein{
    background-color: purple;
}